---
---

@import "{{ site.theme }}";

body {
  background-color: #1f2428;
  font-family: "monospace";
  color: #e1e4e8;
}

section {
  background-color: #24292e;
}

h1 {
  color: #7eda95;
}

h2 {
  color: #f17280;
}

h3 {
  color: #b392f0;
}

h4 {
  color: #ffab70;
}