---
---

@import "{{ site.theme }}";

body {
  background-color: #1f2428;
  font-family: "monospace";
  color: #e1e4e8;
}

section {
  box-sizing: border-box;
  background-color: #24292e;
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 961px) {
  section {
    transform: translateY(-30px);
  }
}

h1 {
  color: #7eda95;
}

h2 {
  color: #f17280;
}

h3 {
  color: #ffab70;
}

h4 {
  color: #b392f0;
}

a {
  color: #79b8ff;
}

.testcase-table.thead {
  color: #295957;
}